<div class="event-detail">
    <div class="event-header"> Events </div><!-- heading text -->
    <div class="event-title">{{ event.title|raw }}</div><!-- event title -->
    <div class="event-date">{{ event.date|raw }}</div><!-- date string -->
    <div class="event-time">{{ event.time|raw }}</div><!-- time string -->
    <div class="event-city">{{ event.city }}</div><!-- city -->
    <div class="event-text">{{ event.text|raw }}</div><!-- long text -->
    <div class="event-short">{{ event.short|raw }}</div><!-- short text -->
</div>